================================================================================================================================
### TUPLE
### LIST
### DICTIONARY
================================================================================================================================

### 1. TUPLE

In [2]:
p = (12, 4.55, "hi", "76.990880908808")

In [3]:
dir(p)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
p.count("hi")

1

In [6]:
p.index("hi")

2

In [14]:
l = [43,43, "hello", 45.78]

In [8]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
l.copy()

[43, 'hello', 45.78]

In [10]:
a=l.copy()

In [11]:
a

[43, 'hello', 45.78]

In [15]:
l.count(43)

2

In [20]:
l.extend(a)

In [21]:
l

[43, 43, 'hello', 45.78, 'i', 1, 2, 3, 43, 'hello', 45.78]

In [22]:
l.insert(2,88)

In [23]:
l

[43, 43, 88, 'hello', 45.78, 'i', 1, 2, 3, 43, 'hello', 45.78]

In [24]:
l.pop()

45.78

In [25]:
l

[43, 43, 88, 'hello', 45.78, 'i', 1, 2, 3, 43, 'hello']

In [27]:
l.pop()

'hello'

In [28]:
l

[43, 43, 88, 'hello', 45.78, 'i', 1, 2, 3, 43]

In [29]:
l.remove(43)

In [30]:
l

[43, 88, 'hello', 45.78, 'i', 1, 2, 3, 43]

In [31]:
l.remove(88)

In [32]:
l

[43, 'hello', 45.78, 'i', 1, 2, 3, 43]

In [33]:
l.reverse()

In [34]:
l

[43, 3, 2, 1, 'i', 45.78, 'hello', 43]

In [36]:
b = [3,55,32,76,12]

In [37]:
b.sort()

In [38]:
b

[3, 12, 32, 55, 76]

In [41]:
b.pop(1)

12

In [42]:
b = ("a", 12 , (1,2,3), {"a":1, "b":2})

In [43]:
b

('a', 12, (1, 2, 3), {'a': 1, 'b': 2})

#### LIST COMPREHENSION

In [47]:
#list comprehension
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
[int(i) for i in input("Enter numbers : ").split()]

Enter numbers :  1 2 3 4 5 6 7 8 9 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### PRINT MAX AND MIN IN LIST

In [2]:
#print max and min in list
l = [ int(input()) for i in range(10)]
l.sort()
print("MIN : ",l[0])
print("MAX : ",l[-1])

 45
 56
 87
 100
 69
 54
 1
 0
 23
 56

MIN :  0
MAX :  100

#### PRINT MEAN OF ELEMENTS IN LIST

In [2]:
t=0
l = [ int(input()) for i in range(10)]
for i in l:
    t+=i
print("List : ",l)
print("Mean of elements in list : ",t/len(l))

 14
 58
 69
 11
 23
 77
 58
 63
 77
 25

List :  [14, 58, 69, 11, 23, 77, 58, 63, 77, 25]
Mean of elements in list :  47.5

In [3]:
l = [ int(input()) for i in range(10)]


print("List : ",l)
print("Mean of elements in list : ",sum(l)/len(l))

 14
 58
 69
 11
 23
 77
 58
 63
 77
 25

List :  [14, 58, 69, 11, 23, 77, 58, 63, 77, 25]
Mean of elements in list :  47.5

In [21]:
l = ["a", "b", 1, 2]
a = l.copy()
a.reverse()
l.extend(a)
print(l)

['a', 'b', 1, 2, 2, 1, 'b', 'a']

#### PRINT LIST CONTAINING ODD NUMBERS UPTO 100

In [22]:
oddlist = [i for i in range(1,100,2)]
print(oddlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [24]:
oddlist2 = [i for i in range(100) if i%2 != 0]
print(oddlist2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

#### PROGRAM TO RETURN A LIST CONTAINING SUM OF CONSECUTIVE ELEMENTS OF INPUT USER LIST

In [23]:
q = [int(i) for i in input("Enter numbers : ").split()]
new_l = []
for i in range(len(q)-1):
    new_l.append(q[i]+q[i+1])
    
new_l.append(q[-1]+q[0])
print("Input List : ",q)
print("New List : ",new_l)

Enter numbers :  1 2 3 4 5

Input List :  [1, 2, 3, 4, 5]
New List :  [3, 5, 7, 9, 6]

#### SLICING IN LIST

In [30]:
b = [1,2,3,4,5,6,7]
print(b[0:2])
print(b[4:6])

[1, 2]
[5, 6]

#### PRINT ALL POSSIBLE 3 COMBINATIONS OF ELEMENTS OF A LIST FROM USER

In [43]:
w = [int(i) for i in input("Enter numbers : ").split()]
wc = w.copy()
wc.extend([w[0],w[1]])
l=len(w)
for i in range(l):
    if i<l-2:
        print(w[i:i+3])
    else:
        print(wc[i:i+3])

Enter numbers :  1 2 3 4 5 6

[1, 2, 3]
[2, 3, 4]
[3, 4, 5]
[4, 5, 6]
[5, 6, 1]
[6, 1, 2]

In [45]:
e = [int(i) for i in input("Enter numbers : ").split()]
lt = len(e)
for i in range(lt):
    print(e[i],e[(i+1)%lt],e[(i+2)%lt])

Enter numbers :  1 2 3 4 5 6

1 2 3
2 3 4
3 4 5
4 5 6
5 6 1
6 1 2

### DICTIONARY

In [46]:
d = {"Name":"Sheeba", "Gender":"Female", "Age":20}

In [47]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [51]:
for k,v in d.items():
    print(k,v)

Name Sheeba
Gender Female
Age 20

In [52]:
dc = d.copy()

In [53]:
dc

{'Name': 'Sheeba', 'Gender': 'Female', 'Age': 20}

In [55]:
d.fromkeys("Name","Age")

{'N': 'Age', 'a': 'Age', 'm': 'Age', 'e': 'Age'}

In [56]:
d.values()

dict_values(['Sheeba', 'Female', 20])

In [57]:
d.keys()

dict_keys(['Name', 'Gender', 'Age'])

In [62]:
d.update(y=3)

In [65]:
d.update(A="B")

In [68]:
d.update(Name="Aditi")

In [69]:
d

{'Name': 'Aditi', 'Gender': 'Female', 'Age': 20, 'y': 3, 'A': 'B'}

In [70]:
d1={"College":"NITRR","Sem":5}

In [71]:
d.update(d1)

In [72]:
d

{'Name': 'Aditi',
 'Gender': 'Female',
 'Age': 20,
 'y': 3,
 'A': 'B',
 'College': 'NITRR',
 'Sem': 5}